
@{
    ViewData["Title"] = "AskQuestion";
}

<h2>Ask Question</h2>

<form method="post" action="/QA/AddQuestion">
    Title: <input type="text" name="Title" /> <br />

    Details: <textarea name="Detail"> </textarea> <br />

    Category: <select name="Category" id="Category">
                <option value="Help">Coding Help</option>
                <option value="Errors">Errors</option>
                <option value="Discussion">Discussion</option>
                <option value="Fun">Fun stuff</option>
              </select><br />

    Tags: <input type="text" name="Tags" />

          <input type="hidden" name="Username" value="Username1" />
          <input type="submit"  value="Submit" />


</form>