@model List<Questions>
@{
    ViewData["Title"] = "ReadQuestions";
}

<h2>Read Questions</h2>

<table>
    @foreach (Questions questions in Model)
    {

        <tr>
            <td>
                <a href="/QA/ReadAnswers?id=@questions.ID"> @questions.Title</a>  <br />
            </td>
            <td>
                @questions.Detail <br />
            </td>
            <td>
                @questions.Category <br />
            </td>
            <td>
                @questions.Tags <br />
            </td>
            <td>
                <a href="/QA/EditQuestion?=@questions.ID">Edit</a>
            </td>
            <td>
                <a href="/QA/RemoveQuestion?=@questions.ID">Delete</a>
            </td>
            
        </tr>
    }
</table>

<br />

<input type="button" name="Search" value="Search" />