@model List<Questions>
@{
    ViewData["Title"] = "ReadQuestions";
}

<h2>Read Questions</h2>

<table>
    @foreach (Questions questions in Model)
    {

    <tr>
        <td>
            <a href="/QA/ReadAnswers?id=@questions.ID"> @questions.Title</a>  <br />
        </td>
        <td>
            @questions.Detail <br />
        </td>
        <td>
            @questions.Category <br />
        </td>
        <td>
            @questions.Tags <br />
        </td>
        @if (ViewBag.username == questions.Username)
        {
            <td>
                <a href="/QA/EditQuestion?=@questions.ID">Edit</a>
            </td>
            <td>
                <a href="/QA/RemoveQuestion?=@questions.ID">Delete</a>
            </td>
        }
    </tr>
    }
</table>

<br />
<form method="get" action="/QA/SearchQuestions">
    <input type="text" name="Search" id="Search"/>
    <select name="Category" id="Category">
        <option value="Category">Category</option>
        <option value="Detail">Detail</option>
        <option value="Title">Title</option>
    </select>
    <input type="submit" value="Submit" />
</form>

