@{
    ViewData["Title"] = "Home Page";
}


@if (ViewBag.username == "")
{
    <form method="post" action="/home/login">

        <input type="text" name="username" id="username" />
        <input type="submit" value="Login" />

    </form>
}
else
{
    <h3>Welcome @ViewBag.username</h3>
}



<img src="~/images/helper.gif" alt="Girl in a jacket" width="800" height="600">
