
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form method="post" action="/home/login">

    <input type="text" name="username" id="username" />

    <input type="submit" value="Login" />
</form>
